@font-face {
  font-family: 'icon';
  src: url("../fonts/Icons/icon.ttf?qv6knb") format("truetype"), url("../fonts/Icons/fonts/icon.woff?qv6knb") format("woff"), url("../fonts/Icons/fonts/icon.svg?qv6knb#icon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bag:before {
  content: "\e901";
}

.icon-money:before {
  content: "\e902";
}

.icon-alco:before {
  content: "\e900";
}

.icon-body:before {
  content: "\e903";
  color: #3f594a;
}

.icon-digestion:before {
  content: "\e904";
}

.icon-gastro:before {
  content: "\e905";
}

.icon-gullet:before {
  content: "\e906";
  color: #6c8074;
}

.icon-illness:before {
  content: "\e908";
  color: #3f594a;
}

.icon-intoxication:before {
  content: "\e909";
}

.icon-malaise:before {
  content: "\e90a";
}

.icon-pills:before {
  content: "\e90b";
}

.icon-poisoning:before {
  content: "\e90c";
}

.icon-protect:before {
  content: "\e90d";
}

.icon-stomach:before {
  content: "\e90e";
}

.icon-stomach2:before {
  content: "\e90f";
  color: #d7ddd9;
}

.icon-stomach3:before {
  content: "\e910";
  color: #92a098;
}

.icon-swap:before {
  content: "\e911";
  color: #aab6af;
}

.icon-stack:before {
  content: "\e92e";
}

.icon-user:before {
  content: "\e971";
}

.icon-heart:before {
  content: "\e9da";
}

.icon-arrow:before {
  content: "\ea3c";
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: inherit;
  line-height: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
}

input {
  border: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #202945;
  line-height: 20px;
}

.container {
  max-width: 1070px;
  padding: 0 20px;
  margin: 0 auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.title {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  overflow-wrap: break-word;
}

.btn {
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.btn .icon {
  margin-left: 10px;
}

.btn__dark {
  background: #202945;
  color: #fff;
}

.btn__dark:hover {
  background-color: #384879;
}

.btn__light {
  background-color: #fff;
  color: #000;
}

.btn__light:hover {
  background-color: #e6e6e6;
}

/*----------  structure  ----------*/
.intro__content {
  position: relative;
  overflow: hidden;
  background: #E7E7E7;
}

.intro__body {
  padding: 115px 0;
}

.intro__bg {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
}

.intro__bg::-moz-selection {
  background: none;
}

.intro__bg::selection {
  background: none;
}

.intro__text {
  width: 360px;
  position: relative;
  z-index: 10;
}

.intro__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
  color: #202945;
  margin-bottom: 14px;
}

.intro__desc {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 55px;
}

.intro__btn span.icon {
  margin-left: 10px;
}

.head {
  background-color: #202945;
  color: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.head__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head__label {
  margin-right: 30px;
}

.head__btn {
  padding: 14px 24px;
  line-height: 15px;
  font-size: 11px;
  text-transform: uppercase;
  background: #C786FA linear-gradient(91deg, #5ABFEB 3%, #C786FA 98%);
  -webkit-transition: 300ms;
  transition: 300ms;
}

.head__btn:hover {
  opacity: 0.9;
}

.header {
  padding-bottom: 15px;
  border-bottom: 1px solid #C3C9CF;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  text-transform: uppercase;
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
}

.header__list:not(:last-child) {
  margin-right: 40px;
}

.header__link {
  font-size: 11px;
  line-height: 15px;
}

.header__link:hover {
  text-decoration: underline;
}

.header__btn {
  display: inline-block;
}

.header__btn:not(:last-child) {
  margin-right: 40px;
}

.advantages {
  padding-top: 60px;
}

.advantages__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
}

.advantages__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages__item span.icon {
  font-size: 40px;
  margin-right: 10px;
}

.about {
  padding-top: 100px;
  padding-bottom: 125px;
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__text {
  max-width: 460px;
  margin-right: 20px;
}

.about__title {
  text-align: left;
  margin-bottom: 32px;
}

.about__subtitle {
  margin-bottom: 70px;
}

.about__fact {
  background-color: #f8f8f8;
  padding: 25px;
}

.about__desc {
  position: relative;
}

.about__circle {
  border: 1px solid #294635;
  border-radius: 50%;
  width: 530px;
  height: 530px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  text-align: center;
}

.about__desc-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 181px;
  height: 181px;
  border-radius: 50%;
  background: #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__desc-text span {
  margin: auto;
  color: #a9a9a9;
}

.about__item {
  max-width: 115px;
  margin: 30px;
}

.about__item_1 {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.about__item_2 {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.about__item_3 {
  -ms-grid-column-align: start;
      justify-self: start;
}

.about__item_4 {
  -ms-grid-column-align: end;
      justify-self: end;
}

.about__item_5 {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column-align: end;
      justify-self: end;
}

.about__item_6 {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column-align: start;
      justify-self: start;
}

.about__icon {
  font-size: 42px;
  position: absolute;
  top: 0;
  left: 0;
}

.about__icon_1 {
  left: 25%;
}

.about__icon_2 {
  right: 0;
}

.about__icon_3 {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.about__icon_4 {
  right: 0;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.about__icon_5 {
  left: 25%;
  bottom: 0;
}

.about__icon_6 {
  right: 25%;
  bottom: 0;
}

.products {
  background-color: #f8f8f8;
  padding-top: 120px;
  padding-bottom: 50px;
}

.products__text {
  text-align: center;
}

.products__title {
  margin-bottom: 25px;
}

.products__desc {
  max-width: 630px;
  margin: 0 auto;
  margin-bottom: 50px;
  color: #000;
}

.products__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  gap: 20px;
}

.product_small {
  grid-column: 1/-1;
  -ms-grid-column-align: start;
      justify-self: start;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.product__img {
  margin-bottom: 25px;
  height: 450px;
  overflow: hidden;
}

.product_small .product__img {
  height: 230px;
  margin-bottom: 0;
  margin-right: 20px;
}

.product__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product__body {
  position: relative;
}

.product__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.product__link {
  display: block;
}

.product__icon {
  position: absolute;
  top: 0;
  right: 0;
}

.product__info {
  margin-bottom: 15px;
}

.product__price {
  font-weight: 600;
  text-decoration: none;
}

.product__price_old {
  line-height: 25px;
}

.product__list {
  list-style-type: disc;
  margin-left: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.product__discount {
  font-weight: 600;
  font-size: 27px;
  line-height: 34px;
  margin-right: 5px;
}

.testimony {
  padding-bottom: 115px;
  padding-top: 100px;
}

.testimony__title {
  margin-bottom: 25px;
}

.testimony__desc {
  text-align: center;
}

.testimony__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(64px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(64px, 1fr));
  -webkit-column-gap: 270px;
          column-gap: 270px;
  row-gap: 70px;
  margin-bottom: 40px;
  margin-top: 60px;
}

.testimony__item {
  text-align: center;
}

.testimony__info {
  text-align: center;
}

.testimony__btn {
  margin-top: 33px;
}

.item__text {
  display: block;
  overflow-wrap: break-word;
  max-width: 170px;
}

.item__icon {
  font-size: 64px;
  display: block;
  margin-bottom: 20px;
}

.reception {
  background-color: #F8F8F8;
  /*padding-top: 80px;
    padding-bottom: 90px;*/
}

.reception__title {
  text-align: left;
  margin-bottom: 20px;
}

.reception__text:not(:last-child) {
  margin-bottom: 20px;
}

.reception__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 80px;
  padding-bottom: 90px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 90px;
}

.reception__content {
  max-width: 670px;
}

.reception__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reception__list {
  list-style-type: disc;
  margin-left: 25px;
}

.reception__fact {
  margin-top: 60px;
  background-color: #fff;
  padding: 20px 30px;
  max-width: 610px;
}

.reception__bg img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.consist {
  padding-top: 100px;
  padding-bottom: 150px;
  color: #000000;
}

.consist__text {
  text-align: center;
}

.consist__title {
  margin-bottom: 20px;
  color: #202945;
}

.consist__subtitle {
  margin-bottom: 65px;
}

.consist__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.consist__label {
  color: #000000;
  font-weight: bold;
  margin-bottom: 20px;
}

.consist__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.consist__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.consist__content_2 .consist__item {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.consist__item:not(:last-child) {
  margin-bottom: 20px;
}

.consist__info {
  font-size: 13px;
  margin-right: 20px;
}

.consist__content_2 .consist__info {
  margin-left: 20px;
}

.consist__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
}

.consist__number {
  font-size: 13px;
  color: #B6B6B6;
  margin-left: 10px;
}

.consist__img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 20px;
}

.reference {
  margin-left: 75px;
  margin-right: 75px;
}

.reference__body {
  background: conic-gradient(from 231.04deg at 76.28% 45.57%, #5bb37f 0deg, rgba(70, 141, 99, 0) 360deg), #294635;
  border-radius: 30px;
  padding: 50px 110px;
  position: relative;
  color: #fff;
}

.reference__text {
  max-width: 500px;
}

.reference__title {
  text-align: left;
  margin-bottom: 15px;
}

.reference__desc {
  margin-bottom: 40px;
}

.reference__btn {
  color: #000;
}

.reference__img {
  position: absolute;
  right: 160px;
  bottom: 0;
  margin-bottom: -5px;
}

.facts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 80px;
  padding-top: 100px;
}

.facts__img {
  height: 557px;
}

.facts__img img {
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.facts__content {
  padding: 0 70px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 500px;
          flex: 0 1 500px;
}

.facts__title {
  text-align: left;
  margin-bottom: 10px;
}

.facts__text_em {
  background-color: #f8f8f8;
  padding: 20px 30px;
  margin-top: 25px;
}

.facts__list {
  margin: 5px 0;
  list-style-type: disc;
  margin-left: 25px;
}

.facts__reasons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 25px;
}

.facts__reason {
  padding: 24px 40px;
  padding-right: 70px;
  overflow-wrap: break-word;
  border: 1px solid #c4c4c4;
  border-radius: 12px;
}

.facts__reason:not(:last-child) {
  margin-bottom: 20px;
}

.facts__reason-title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
}

.facts__reason-desc {
  color: #7b8797;
}

.fact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.fact:not(:last-child) {
  margin-bottom: 100px;
}

.fact:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.fact_2 .facts__text:not(:last-child) {
  margin-bottom: 5px;
}

.answers__text {
  margin-bottom: 30px;
}

.answers__title {
  margin-bottom: 10px;
}

.answers__subtitle {
  text-align: center;
  color: #000;
  margin-bottom: 30px;
}

.answers__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.answer {
  background-color: #f8f8f8;
  padding: 30px 40px;
  cursor: pointer;
  overflow-wrap: break-word;
}

.answer:not(:last-child) {
  margin-bottom: 25px;
}

.answer__title {
  font-weight: 600;
  margin-right: 10px;
}

.answer__desc {
  display: none;
}

.answer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews {
  padding-top: 100px;
  padding-bottom: 130px;
}

.reviews__body {
  max-width: 800px;
  padding: 0 20px;
  margin: 0 auto;
}

.reviews__text {
  margin-bottom: 50px;
}

.reviews__title {
  margin-bottom: 10px;
}

.reviews__desc {
  text-align: center;
  color: #000;
}

.reviews__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.review:not(:last-child) {
  margin-bottom: 25px;
}

.review__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 10px;
}

.review__author {
  font-weight: 600;
}

.review__date {
  margin-left: 15px;
  font-size: 12px;
  line-height: 15px;
  color: #7B8797;
}

.order {
  position: relative;
  padding-top: 80px;
  padding-bottom: 120px;
  padding-left: 70px;
  padding-right: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  color: #fff;
}

.order__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.order__img img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.order__img:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, color-stop(0.56%, rgba(32, 37, 69, 0.7)), to(rgba(32, 41, 69, 0.4)));
  background: linear-gradient(270deg, rgba(32, 37, 69, 0.7) 0.56%, rgba(32, 41, 69, 0.4) 100%);
  background-blend-mode: multiply;
  z-index: 10;
}

.order__text {
  max-width: 530px;
}

.order__title {
  text-align: left;
  margin-bottom: 15px;
}

.order__subtitle {
  margin-bottom: 35px;
}

.footer {
  background-color: #202945;
  color: #fff;
  padding: 60px 0;
}

.footer__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 70px;
}

.footer__links {
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
}

.footer__soc-link {
  display: block;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__media {
  display: block;
}

.footer__media:not(:last-child) {
  margin-right: 50px;
}

.footer__panel {
  justify-items: end;
}

.footer__input {
  position: relative;
  margin-bottom: 50px;
}

.footer__input input {
  width: 100%;
  padding: 10px;
  outline: none;
  color: inherit;
  border-bottom: 1px solid #e6eaee;
}

.footer__input-icon {
  position: absolute;
  right: 0;
}

.footer__navs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 30px;
}

.footer__nav-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 12px;
}

.footer__list {
  font-size: 12px;
  text-transform: uppercase;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__copy {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column: 1/-1;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  font-size: 10px;
  line-height: 16px;
}

.footer__copy-link {
  text-decoration: underline;
}

/*----------  /structure  ----------*/
